<div class="conatiner container-fluid">
  <h1>Demos <small>Angular</small></h1>
  <hr />
  <!-- <app-ng-style></app-ng-style>
  <hr />
  <app-css></app-css>
  <hr />
  <app-clases></app-clases>
  <hr /> -->
  <!-- <p appResaltar>Hola mundo</p> -->
  <p [appResaltar]="'orange'">Hola mundo</p>
  <p [appResaltar]="color">Hello world!</p>
  <button (click)="setColor('black')" class="btn btn-dark m-1">Dark</button>
  <button (click)="setColor('blue')" class="btn btn-primary m-1">Blue</button>
  <button (click)="setColor('green')" class="btn btn-success m-1">Grren</button>
  <button (click)="setColor('red')" class="btn btn-danger m-1">Red</button>
  <button (click)="setColor(null)" class="btn btn-outline-warning m-1">
    Yellow
  </button>
</div>

<router-outlet></router-outlet>
